* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




nav {
    position: fixed;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: 400;
    line-height: 160px;
    text-align: left;
    text-decoration: none;
    color: #1e1e1e;
    padding: 0 px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    hyphens: auto;
}

article {
    padding: 20px;
    

}

hr{
    border-top: 5px #1e1e1e;
    width: 200% 

}

h2 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    color: rgb(70, 70, 70);
    font-size: 14px;
    line-height: 17px;
    padding-top: 55px;
    font-family: monospace;
    text-align: left;
    font-weight: 100;
    margin-left: 20px;

}


p {
    color: rgb(70, 70, 70);
    font-size: 18px;
    line-height: 50px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 500px;
}

.steckbrief-table {
    color: rgb(70, 70, 70);
    font-family: sans-serif; 
    font-size: 16px; 
    line-height: 1.3em;
    margin-top: 40px;
    margin-bottom: 80px;
}

.steckbrief-table {
    width: 100%;
    border-collapse: collapse;
}

.steckbrief-table th {
    width: 10%; 
    text-align: left;
font-weight: 500;   
    padding: 5px;
    border: 0px solid #ddd;
    text-decoration: underline;
    vertical-align: top;
}

.steckbrief-table td {
    width: 66.6%; /* 2/3 der Tabelle */
    padding: 3px;
    border: 0px solid #ddd;
}

li{
    color: #1e1e1e;

}
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #01d008;
    text-decoration: none;
    text-align: center;
}

.myHover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;

}




nav {
    grid-area: nav;
}
ul {
margin-left: 0px;
position: fixed;
}

ul li {
   list-style: none;
   display: inline-block;
   line-height: 50px;
}

ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #1e1e1e;
    padding: 0 10px;
}

ul li a:hover {
text-decoration: underline;
text-align: left;
}

 a:active {
    text-decoration: underline;
    text-align: left;
    }


    #content2 {
        text-align: left; 
        padding-top: 100px;
    }
    
    #content2 ul {
    
        list-style: none; 
        padding: 0;
    }
    

    
    #content2 ul li a {
        display: inline-block; 
        padding: 10px 20px; 
        color: rgb(0, 0, 0); 
        text-decoration: underline;        
        font-family: monospace;  
        font-size: 15px; 
    }
    
    #content2 ul li a:hover {
        text-decoration: none;
        color: rgb(190, 190, 190);
    }

    iframe {
        width: 100%; /* Full width */
        height: 700px; /* Set height */
        margin-top: 100px;
    }



    #image-gallery img {
        width: 100%;
        max-width: 1200px;  /* or whatever width you want */
        height: auto;
        display: block;
        image-rendering: auto; /* optional: for pixel art you can use crisp-edges */
      }
      

a[href^="mailto:"]:hover { 
    color: rgb(99, 89, 233);
}



.container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.2fr 8fr 0.2fr;
    grid-template-areas: 
    "nav main main"
    "content1 content1 content1"
    "footer footer footer"
    ;

}




#bild {
    grid-area: bild;
    padding-left: 15px;
}

main {
    grid-area: main;
}

#content1 {
    grid-area: content1;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    grid-area: footer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
}
body{
    height: 100vh;
  
}


.images {
    display: flex;
    width: 100%;
}

.images img {
    width: 200px;
    transition: all 0.15s ease;
}
/* Allgemeine Button-Stile */
button {
    background-color: #e1e1e1; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
    border-radius: 15px; 
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #ff7700; 

}

a.button-link {
    display: inline-block;
    background-color: #eaeaea; /* Grau */
    color: rgb(0, 0, 0); /* Textfarbe */
    padding: 10px 20px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

a.button-link:hover {
    background-color: #00ff08; 
}




    p {
        padding-right: 10px;
        font-weight: 400;
        line-height: 20px;
    }

    .container {
        display:grid;
        height: 100vh;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.2fr 8fr 0.2fr;
        grid-template-areas: 
        "nav nav main"
        "content1 content1 content1"
        "footer footer footer"
        ;
    
    }

    
    .container-info {
        display:grid;
        height: 100vh;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.2fr 8fr 0.2fr;
        grid-template-areas: 
        "nav nav main"
        "bild content1 content1"
        "footer footer footer"
        ;
    }
    video {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


    .image-gallery {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .experiment-img {
        width: 48%;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
    
